@page "/profile"
<<<<<<< HEAD:AMI.EduWork.2025/AMI.EduWork.2025/Components/Feature/Profile/Pages/Profile.razor
@using AMI.EduWork._2025.Components.Feature.Profile.Components
@using AMI.EduWork._2025.Domain.Interfaces.Service
@using AMI.EduWork._2025.Domain.Models.VacationModel
@inject IAnnualVacationService iannualVacationService
=======
@using AMI.EduWork.Domain.Interfaces.Service
@using AMI.EduWork.Domain.Models.VacationModel
>>>>>>> main:AMI.EduWork/AMI.EduWork/Components/Feature/Profile/Pages/Profile.razor
<h3>Profile</h3>

<MudGrid>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-height-full mud-width-full py-8">
            <h4>Projects</h4>

            </MudPaper>
    </MudItem>

    <VacationComponent AnnualVacations="_annualVacationGetModel"></VacationComponent>
@*     <MudItem xs="6">
        <MudPaper Class="d-flex flex-column align-center justify-space-around mud-height-full mud-width-full py-8">
            <h4>Annual Vacation</h4>
            <MudChart ChartType="ChartType.Donut" LegendPosition="@LegendPosition" Width="300px" Height="300px" InputData="@data" InputLabels="@labels">
                <CustomGraphics>
                    <text class="donut-inner-text" x="50%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="20">Total</text>
                    <text class="donut-inner-text" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="50">@data.Sum().ToString()</text>
                </CustomGraphics>
            </MudChart>
            
        </MudPaper>
    </MudItem> *@
    <MudFlexBreak />
    <MudItem xs="6">
        <MudPaper Class="d-flex flex-column align-center justify-center mud-height-full mud-width-full py-8">
            <h4>User statistics</h4>
            <MudIcon Icon="@Icons.Material.Filled.AccessTimeFilled" Style="font-size: 4rem;" />
            <MudIcon Icon="@Icons.Material.Filled.Accessibility" Style="font-size: 4rem;" />
            <MudIcon Icon="@Icons.Material.Filled.AssignmentReturned" Style="font-size: 4rem;" />
        </MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex flex-column align-center justify-center mud-height-full mud-width-full py-8">
            <h4>Sick leave</h4>
            <MudIcon Icon="@Icons.Material.Filled.Attachment" Style="font-size: 4rem;" />
            <MudIcon Icon="@Icons.Material.Filled.AssignmentInd" Style="font-size: 4rem;" />
            <MudIcon Icon="@Icons.Material.Filled.Badge" Style="font-size: 4rem;" />
            </MudPaper>
    </MudItem>
</MudGrid>


@* @inject IProjectService iprojectService  *@

@code {
    public Position LegendPosition { get; set; } = Position.Bottom;
    private AnnualVacationGetModel? _annualVacationGetModel;
    public double[] data { get; set; } = Array.Empty<double>();
    public string[] labels { get; set; } = Array.Empty<string>();
    protected override async Task OnInitializedAsync()
    {
        IEnumerable<AnnualVacationGetModel>? annualVacationGetModel = await iannualVacationService.GetAll();
        _annualVacationGetModel = annualVacationGetModel.ToList().FirstOrDefault();
        data = new double[] { (double)_annualVacationGetModel.UsedVacation, 
            (double)_annualVacationGetModel.PlannedVacation, 
            (double)_annualVacationGetModel.AvailableVacation };
        labels = new string[] { nameof(_annualVacationGetModel.UsedVacation),
            nameof(_annualVacationGetModel.PlannedVacation),
            nameof(_annualVacationGetModel.AvailableVacation) };
    }

}
