@page "/profile"
@using AMI.EduWork._2025.Domain.Interfaces.Service
@using AMI.EduWork._2025.Domain.Models.VacationModel
@inject IAnnualVacationService iannualVacationService
<h3>Profile</h3>

<MudGrid>
    <MudItem xs="6">
        <MudPaper Class="d-flex align-center justify-center mud-height-full mud-width-full py-8">
            <h4>Projects</h4>

            </MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex flex-column align-center justify-space-around mud-height-full mud-width-full py-8">
            <h4>Annual Vacation</h4>
            <MudChart ChartType="ChartType.Donut" LegendPosition="@LegendPosition" Width="300px" Height="300px" InputData="@data" InputLabels="@labels">
                <CustomGraphics>
                    <text class="donut-inner-text" x="50%" y="35%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="20">Total</text>
                    <text class="donut-inner-text" x="50%" y="50%" dominant-baseline="middle" text-anchor="middle" fill="black" font-family="Helvetica" font-size="50">@data.Sum().ToString()</text>
                </CustomGraphics>
            </MudChart>
            <MudSelect Label="Legend Position" Variant="Variant.Outlined" Dense="true" T="@Position" ValueChanged="OnSelectedValue" Class="mt-4">
                <MudSelectItem T="Position" Value="Position.Top">Top</MudSelectItem>
                <MudSelectItem T="Position" Value="Position.Left">Left</MudSelectItem>
                <MudSelectItem T="Position" Value="Position.Right">Right</MudSelectItem>
                <MudSelectItem T="Position" Value="Position.Bottom">Bottom</MudSelectItem>
                <MudSelectItem T="Position" Value="Position.Start">Start</MudSelectItem>
                <MudSelectItem T="Position" Value="Position.End">End</MudSelectItem>
            </MudSelect>
            
        </MudPaper>
    </MudItem>
    <MudFlexBreak />
    <MudItem xs="6">
        <MudPaper Class="d-flex flex-column align-center justify-center mud-height-full mud-width-full py-8">
            <h4>User statistics</h4>
            <MudIcon Icon="@Icons.Material.Filled.AccessTimeFilled" Style="font-size: 4rem;" />
            <MudIcon Icon="@Icons.Material.Filled.Accessibility" Style="font-size: 4rem;" />
            <MudIcon Icon="@Icons.Material.Filled.AssignmentReturned" Style="font-size: 4rem;" />
        </MudPaper>
    </MudItem>
    <MudItem xs="6">
        <MudPaper Class="d-flex flex-column align-center justify-center mud-height-full mud-width-full py-8">
            <h4>Sick leave</h4>
            <MudIcon Icon="@Icons.Material.Filled.Attachment" Style="font-size: 4rem;" />
            <MudIcon Icon="@Icons.Material.Filled.AssignmentInd" Style="font-size: 4rem;" />
            <MudIcon Icon="@Icons.Material.Filled.Badge" Style="font-size: 4rem;" />
            </MudPaper>
    </MudItem>
</MudGrid>


@* @inject IProjectService iprojectService  *@

@code {
    public Position LegendPosition { get; set; } = Position.Bottom;
    private AnnualVacationGetModel? _annualVacationGetModel;
    public double[] data { get; set; } = Array.Empty<double>();
    public string[] labels { get; set; } = Array.Empty<string>();
    protected override async Task OnInitializedAsync()
    {
        IEnumerable<AnnualVacationGetModel>? annualVacationGetModel = await iannualVacationService.GetAll();
        _annualVacationGetModel = annualVacationGetModel.ToList().FirstOrDefault();
        data = new double[] { (double)_annualVacationGetModel.UsedVacation, 
            (double)_annualVacationGetModel.PlannedVacation, 
            (double)_annualVacationGetModel.AvailableVacation };
        labels = new string[] { nameof(_annualVacationGetModel.UsedVacation),
            nameof(_annualVacationGetModel.PlannedVacation),
            nameof(_annualVacationGetModel.AvailableVacation) };
    }

    private void OnSelectedValue(Position value)
    {
        switch (value)
        {
            case Position.Top:
                LegendPosition = Position.Top;
                break;
            case Position.Left:
                LegendPosition = Position.Left;
                break;
            case Position.Right:
                LegendPosition = Position.Right;
                break;
            case Position.Bottom:
                LegendPosition = Position.Bottom;
                break;
            case Position.Start:
                LegendPosition = Position.Start;
                break;
            case Position.End:
                LegendPosition = Position.End;
                break;
        }
    }
}
